{% extends "AppBundle:Admin:layout.html.twig" %}

{% block title %}Débloquer un utilisateur{% endblock %}
{% block body %}
	{% if ok is defined %}
		<div class="alert alert-success">Utilisateur bien débloqué</div>
	{% endif %}
	{% if ko is defined %}
		<div class="alert alert-danger">Cet utilisateur n'existe pas</div>
	{% endif %}
	<div class="form-style-8">
  		<h2>Débloquer un utilisateur</h2>
			{{ form_start(form) }}
			{{form_label(form.user, "Choissisez l'utilisateur à débloquer")}}
			{{form_widget(form.user)}}
			<br/>
			{{ form_end(form) }}
	</div>
{% endblock %}